<div id="error-show">
	<h3 class="text-danger">Ooops!!!</h3>
	<p>The page you are trying to reach is either unavailable or for Admin use only.</p>
	<div>
		<%= link_to "Home", root_path, class: "btn btn-primary" %>
	</div>
</div>