<div class="disqus-comments">
	<h5 class="yellow-text page_title center">Comments:</h5>

	<div id="disqus_thread"></div>
	<script>
	  var disqus_config_article = function () {
	      this.page.url = '<%= url_for([@post, {only_path: false}]) %>';
	      this.page.identifier = '<%= @post.id %>';
	      this.page.title = '<%= @post.title %>';
	  };
	  
	  (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
	      var d = document, s = d.createElement('script');
	      
	      s.src = '//myblog-app.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
	      
	      s.setAttribute('data-timestamp', +new Date());
	      (d.head || d.body).appendChild(s);
	  })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>