<div id="post_show">
	<h1 class="page-title text-center text-capitalize text-primary">
	  Edit Post
	</h1>
	<hr>

	<%= render 'form' %>

	<%= link_to 'Back', :back, class: "btn btn-success pull-right" %>
</div>